form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 700px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

form div {
  margin-bottom: 10px; 
  align-items: center;
  text-align: center;
  
}

label {
  display: block;
  margin-bottom: 5px; 
  text-align:left;
}

input {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  margin-bottom: 15px; 
  border: 2px solid white;
  border-radius: 25px;
}

input[type="submit"] {
  width: 35%;
  height: 35%;
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: #3A559F; 
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

p
{
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #2A3F7F; /* Couleur du bouton au survol */
}

.link {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

.title
{
  text-align: center;
  font-weight: bold;
  padding-right: 250px;
  padding-bottom: 500px;
  font-size: 75px;
  margin-bottom: 20px; 
  display: block;
}

form h3
{
  text-align: center; 
}