<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Accord Energie</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>



<body>
{% if user %}
<nav>
    <div class="div-logo">
    <a href="profile.php" class="logo">Accord Energie</a>
    </div>
    <div class="div-nav">
    <ul class="nav-menu">
        {% if user.role == 'admin' %}
        <li class="nav-item-bar">
            <form class="search-form" action="search.php" method="GET">
                <input class='bar-search' type="search" name="query" placeholder="Recherche...">
                <select class='tabone' name="type">
                    <option value="intervention">Intervention</option>
                    <option value="client">Client</option>
                    <option value="intervenant">Intervenant</option>
                    <option value="standardiste">Standardiste</option>
                </select>
                <button class='bouton_search' type="submit">Rechercher</button>
            </form>
        </li>
        {% endif %}
        {% if user.role == 'standardiste' %}
        <li class="nav-item-bar">
            <form class="search-form" action="search.php" method="GET">
                <input class='bar-search' type="text" name="query" placeholder="Recherche...">
                <select  hidden name="type">
                    <option value="intervention">Intervention</option>
                </select>
                <button class='bouton_search' type="submit">Rechercher</button>
            </form>
        </li>
        <li class="nav-item"><a href="messagerie.php"><i class='bx bxs-message'></i>Notification</a></li>
        <li class="nav-item"><a href="create_intervention.php"><i class='bx bxs-edit'></i>Nouvelle intervention</a></li>
        {% endif %}
        {% if user.role == 'intervenant' %}
        <li class="nav-item-bar">
            <form class="search-form" action="search.php" method="GET">
                <input class='bar-search' type="text" name="query" placeholder="Recherche...">
                <select  hidden name="type">
                    <option value="intervention">Intervention</option>
                </select>
                <button class='bouton_search' type="submit">Rechercher</button>
            </form>
        </li>
        {% endif %}
        {% if user.role=='client' %}
        <li class="nav-item-bar">
            <form class="search-form" action="search.php" method="GET">
                <input class='bar-search' type="search" name="query" placeholder="Recherche...">
                <select hidden name="type">
                    <option value="intervention">Intervention</option>
                </select>
                <button class='bouton_search' type="submit">Rechercher</button>
            </form>
        </li>
        <li class="nav-item"><a href="demande_creation_intervention.php"><i class='bx bxs-plus-circle'></i> Nouvelle demande</a></li>
        <li class="nav-item"><a href="intervention_completed.php"><i class='bx bxs-calendar-x'></i> Intervention clôturée</a></li>
        {% endif %}
        <li class="nav-item"><a href="myaccount.php"><i class='bx bxs-user-circle'></i> Profile</a></li>
        <li class="nav-item"><a href="profile.php"><i class="bx bxs-home"></i> Accueil</a></li>
        <li class="nav-item"><a href="log_out.php" class="keluar"><i class='bx bx-log-out'></i> LOG OUT</a></li>
    </ul>
    </div>
</nav>

{% endif %}

{% block body %}{% endblock %}

</body>
</html>
