{% extends "base_auth.html.twig" %}

{% block body %}
<style>
body {
  font-family: 'Arial', sans-serif;
  background-image: url('/img/login.png'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center; 
  display: flex;
  justify-content:center;
  align-items: center;
  color: white; 
  height: 70vh;
}

.liste-container {
  display: flex;
  flex-direction: column;
  margin-bottom:100px;
  height: 40vh;
}

.en-tete {
  margin-top:150px;
  text-align:center;
}

.en-tete h1 {
  font-weight: bold;
  color:white;
  font-size:70px;
}



button {
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: #3A559F; 
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top:0;
  margin-bottom:0;
  width:100px;
  height:60px;

}

select{
    padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: #3A559F; 
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top:0;
  margin-bottom:0;
  width:150px;
  height:40px;
}



.liste{
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 600px;
  padding: 10px;
  margin-left:10px;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide the scrollbar in IE and Edge */
}


.info-content{
    border:none;
    background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 650px;
  height: 100px;
  padding: 10px;
  margin-left:10px;
  
}

legend{
    font-weight: bold;
  color:white;
  font-size:20px;
}

.comment-container{
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 650px;
  height: 100px;
  padding: 10px;
  margin-left:10px;
  overflow-y: scroll;  
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide the scrollbar in IE and Edge */
}

.intervenant{
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 650px;
  height: 100px;
  padding: 10px;
  margin-left:10px;

}

.ajout_com{
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 650px;
  height: 300px;
  padding: 10px;
  margin-left:10px;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide the scrollbar in IE and Edge */}




.comment-content{
  border-radius: 20px 20px 0 0; /* Apply border radius to the top corners only */

}

a {
  display: block;
  width: 100%;
  text-align: right;
  text-decoration: none;
  color: #3A559F;
}

.input_edit{

}


@media (max-width: 1200px) {
  div {
    width: 450px;
  }
}

@media (max-width: 900px) {
  div {
    width: 100%;
  }
}
</style>
<body>
{% if user.role == 'client' and user.verified == TRUE %}
<div class='liste-container'>
    <h1>Demande d'intervention</h1>

    <form  action="demande_creation_intervention.php" method="post">
       
        <h2>Informations</h2>
        <textarea class="info-content" id="infos" name="infos" cols="70" rows="5" ></textarea><br><br>

        <label>Date de début :</label>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <fieldset class="info-content">
            <legend>Degré d'urgence :</legend>
            <input type="radio" id="faible" name="degre_urgence" value="Faible" required>
            <label for="faible">Faible</label><br>

            <input type="radio" id="moyen" name="degre_urgence" value="Moyen" required>
            <label for="moyen">Moyen</label><br>

            <input type="radio" id="eleve" name="degre_urgence" value="Élevé" required>
            <label for="eleve">Élevé</label><br>
        </fieldset><br>

        <button type="submit">Demander</button>
    </form>
</div>
{% else %}
<h1>En attente de verification ...</h1>
{% endif %}
</body>
{% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
{% endif %}
{% endblock %}
