{% extends "base_auth.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/demande_intervention.css"/>
 {% endblock %}

{% block body %}
<div class='liste-container'>
    <div class="en-tete">
    <h1>Demande d'intervention</h1>
    </div>
    <form  action="demande_creation_intervention.php" method="post">
        <h2>Informations</h2>
        <textarea class="info-content" id="infos" name="infos" cols="70" rows="5" ></textarea><br><br>
        <label>Date de début :</label>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <fieldset class="info-content">
            <legend>Degré d'urgence :</legend>
            <input type="radio" id="faible" name="degre_urgence" value="Faible" required>
            <label for="faible">Faible</label><br>

            <input type="radio" id="moyen" name="degre_urgence" value="Moyen" required>
            <label for="moyen">Moyen</label><br>

            <input type="radio" id="eleve" name="degre_urgence" value="Élevé" required>
            <label for="eleve">Élevé</label><br>
        </fieldset><br>

        <button class="button-submit" type="submit">Demander</button>
    </form>
</div>
{% endblock %}