{% extends "base_auth.html.twig" %}

{% block body %}
    <h1>Welcome To AccordEnergie</h1>

    <h2>Fill out the details bellow</h2>

    {% if msg %}
        <div>{{msg}}</div>
    {% endif %}



    <form action="" method="post">

        <div>
            <label for="email">Username</label>
            <input type="email" 
                name="email" 
                
                id="email" 
                placeholder="exemple@gamil.com"
            />
        </div>

        <div>
            <input type="Submit" name="send" value="Send"/>
        </div>

    </form>

    <p>
        <a href="register.php">No account yet ? </a>
    </p>
{% endblock %}