{% extends "base_auth.html.twig" %}

{% block body %}
    <h1>AccordEnergie</h1>
    {% if msg %}
        <div>{{ msg }}</div>
    {% endif %}
    <p>Bienvenue, {{ user_email }} !</p>



{% endblock %}