{% extends "base_auth.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
{% endblock %}

{% block body %}
  <div class="en-tete">
  <h1>Welcome To AccordEnergie</h1>
   </div> 

  <form action="" method="post">
      
      <h2>Welcome back</h2>
      <h3>Fill out the details below</h3>

      <div>
          <label for="email">Username</label>
          <input type="email" 
            name="email" 
            id="email" 
            placeholder="exemple@gmail.com"
          />
      </div>

      <div>
          <label for="password">Password</label>
          <input type="password" 
              name="password" 
              id="password" 
              placeholder="*********"
          />
      </div>

      <div>
        <input type="Submit" name="send" value="Login"/>
      </div>
  <p>
    <a href="register.php">No account yet ? </a>
  </p>
  </form>
{% endblock %}