{% extends "base_auth.html.twig" %}

{% block body %}
<style>
body {
  font-family: 'Arial', sans-serif;
  background-image: url('/img/login.jpeg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center; 
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.title
{
  padding-right: 250px;
  padding-bottom: 500px;
  font-size: 75px;
  margin-left: 100px;
  margin-top: 60px;
}

form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  align-items: center;
  margin-right:100px
}

form div {
  margin-bottom: 10px; 
  align-items: center;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px; 
  text-align: left;
}

input[type="email"], input[type="password"] {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  margin-bottom: 15px; 
  border: 2px solid white;
  border-radius: 25px;
}

input[type="submit"] {
  width: 35%;
  height: 35%;
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: #3A559F; 
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

p
{
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #2A3F7F; 
}

.link {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

form h2, form h3
{
  text-align: center; 
}

.title-f
{
  text-align: center;
  font-weight: bold;
}
</style>
<body>
  <h1 class="title">Welcome To AccordEnergie</h1>

  <form action="" method="post">
      
      <h2>Welcome back</h2>
      <h3>Fill out the details below</h3>

      <div>
          <label for="email">Username</label>
          <input type="email" 
            name="email" 
            id="email" 
            placeholder="exemple@gamil.com"
          />
      </div>

      <div>
          <label for="password">Password</label>
          <input type="password" 
              name="password" 
              id="password" 
              placeholder="*********"
          />
      </div>

      <div>
          <input type="Submit" name="send" value="Login"/>
      </div>
  <p>
      <a href="register.php">No account yet ? </a>
  </p>

  </form>
</body>

{% endblock %}